@charset "utf-8";

html,
.inside {
    overflow-x: hidden;
}

/* ================================= Navigation Elements ================================ */
nav{
    height: auto;
    padding: 2em 0;
}

.breadcrumb {
    width: inherit;
}

/* ================================ Filtering Options ================================== */
.filter-options {
    height: auto;
}

.filter-options h2 {
    font-size: 1.5rem;
    margin: 0 0.5em;
    padding: 0.5em 0.2em 0;
}

.filter-options select {
    margin-left: 1em;
}

/* ================================ Restaurant Listing ================================== */
.restaurants-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* ================================ Restaurant Details ================================== */
.inside .maincontent {
    display: flex;
    flex-wrap: wrap;
}

.inside .map-container {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    top: 130px;
}

.inside .footer {
    width: 100%;
}