@charset "utf-8";

html,
.inside {
    overflow-x: hidden;
}

/* ================================= Navigation Elements ================================ */
nav{
    height: auto;
    padding: 2em 0;
}

.breadcrumb {
    width: inherit;
}

/* ================================ Filtering Options ================================== */
.filter-options {
    height: auto;
}

.filter-options h2 {
    font-size: 1.5rem;
    margin: 0 0.5em;
    padding: 0.5em 0.2em 0;
}

.filter-options select {
    margin-left: 1em;
}

/* ================================ Restaurant Listing ================================== */
.restaurants-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* ================================ Restaurant Details ================================== */
.inside .maincontent {
    display: flex;
    flex-wrap: wrap;
}

.inside .map-container {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    top: 130px;
}

.restaurant-container,
.reviews-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
}

.restaurant-img,
.restaurant-cuisine {
    width: 100%;
}
.restaurant-img {
    border-top-left-radius: 2em;
}

.restaurant-cuisine {
    border-bottom-right-radius: 2em;
    color: #fff;
}

.restaurant-address {
    text-align: center;
    color: #333;
}

.restaurant-hours{
    width: 100%;
    border-collapse: collapse;
}

.restaurant-hours td {
    padding: 0.5em 2em;
}

.restaurant-hours tr:nth-child(even) td {
    background-color:#ccc;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
}

.reviews-list li {
    border-top-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0;
}

.review-item-header {
    background-color: #333;
    padding: 0.7em 1.5em;
    color: #f3f3f3;
    font-size: 1.5em;
    margin-bottom: 0;
}

.review-item-header span {
    font-size: 0.7em;
    color: #bbb;
    float: right;
    padding: 0.5em 0;
    line-height: 1.2em;
}

.review-item-body{
    padding: 1.5em 1.5em;
    background: #fff;
}

.review-item-rating {
    background: orange;
    color: #fff;
    border-radius: 0.3em;
    width: 8.5em;
    text-transform: uppercase;
    padding: 0.5em;
    text-align: center;
    font-weight: 800;
}

.inside .footer {
    width: 100%;
}