@charset "utf-8";

html,
.inside {
    overflow-x: hidden;
}

.footer a {
    color: #32bdff;
}

.sr-only{
    position: absolute;
    left: 0;
    top: -5000px;
}

/* ================================= Navigation Elements ================================ */
nav{
    height: auto;
    padding: 2em 0;
}

.skip-link {
    position: absolute;
    top: -100px;
    color: #fff;
    background: #0d6baa;
    left: 0;
    padding: 0.3em;
    z-index: 1000;
}

.skip-link:hover,
.skip-link:focus {
    font-weight: 600;
    box-shadow: rgba(228, 228, 230, 0.8);
}

.skip-link:focus {
    top: 0;
}

.breadcrumb {
    width: inherit;
}

/* ============================ Map. TODO: Change map attribution background============ */
.leaflet-container .leaflet-control-attribution {
    background: rgba(255, 255, 255, 0.8)!important;
}

/* ================================ Filtering Options ================================== */
.filter-options {
    height: auto;
}

.filter-options h2 {
    font-size: 1.5rem;
    margin: 0 0.5em;
    padding: 0.5em 0.2em 0;
}

.filter-options select {
    margin-left: 1em;
}

.filter-options select:hover,
.filter-options select:focus {
    font-weight: 600;
    color: #0d6baa;
    box-shadow: 0 0 8px 3px rgba(203, 214, 238, 0.8);
}

/* ================================ Restaurant Listing ================================== */
.restaurants-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.restaurants-list li a:hover,
.restaurants-list li a:focus {
    background: #fff;
    color: #0d6baa;
    font-weight: 600;
    border: 1px solid #32bdff;
    box-shadow: 0 0 8px 3px rgba(119, 144, 199, 0.8);
    border-radius: 0.2em;
}

/* ================================ Restaurant Details ================================== */
.inside .maincontent {
    display: flex;
    flex-wrap: wrap;
}

.inside .map-container {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    top: 150px;
}

.restaurant-container,
.reviews-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
}

.inside .restaurant-img,
.restaurant-cuisine {
    width: 100%;
}
.inside .restaurant-img {
    border-top-left-radius: 2em;
}

.inside .restaurant-cuisine {
    border-bottom-right-radius: 2em;
    color: #fff;
    font-size: 1.2rem;
}

.inside .restaurant-address {
    text-align: center;
    color: #333;
    font-size: 1.1rem;
}

.inside .restaurant-hours{
    width: 100%;
    border-collapse: collapse;
}

.inside .restaurant-hours td {
    padding: 0.5em 2em;
}

.inside .restaurant-hours tr:nth-child(even) td {
    background-color:#ccc;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
}

.reviews-list li {
    border-top-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0;
}

.review-item-header {
    background-color: #333;
    padding: 0.7em 1.5em;
    color: #f3f3f3;
    font-size: 1.5em;
    margin-bottom: 0;
}

.review-item-header span {
    font-size: 0.7em;
    color: #bbb;
    float: right;
    padding: 0.1em 0;
    line-height: 1.2em;
}

.review-item-body{
    padding: 1.5em 1.5em;
    background: #fff;
}

.review-item-rating {
    background: #0d6baa;
    color: #fff;
    border-radius: 0.3em;
    width: 8.5em;
    text-transform: uppercase;
    padding: 0.5em;
    text-align: center;
}

.inside .footer {
    width: 100%;
}

.footer a {
    color: #fff;
}