@charset "utf-8";

@media screen and (max-width: 599px) {

    /* ================================= Navigation Elements ================================ */
    nav h1 a {
        font-size: 1em;
    }

    /* ================================= Restaurant Listing ================================ */
    .restaurants-list li {
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {

    /* ================================ Restaurant Filtering ============================== */
    .filter-options {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding: 2em 0.5em;
    }

    .filter-options h2 {
        margin-left: 1em;
    }

    .filter-options .form-element{
        width: calc((100% - 100px)/2);
        margin: 0.7em 0.8em;
    }

    .filter-options .form-element:first-of-type{
      margin-left: 1.5em;
    }

    /* ================================ Restaurant Listing =============================== */
    .restaurants-list li {
        width: calc((100% - 40px)/2);
        margin-right: 30px;
        margin-bottom: 3em;
    }

    .restaurants-list li:nth-of-type(even) {
        margin-right: 0px;
    }

    /* ================================ Restaurant Details ================================== */
    .restaurant-container, 
    .reviews-container {
        width: 85%;
    }

}

@media screen and (min-width: 900px) {

    /* =============================== Restaurant Filtering ============================= */
    .filter-options {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 2.5em 0.5em;
    }

    .filter-options h2 {
        margin-left: 1em;
    }

    .filter-options .form-element{
        width: calc((100% - 100px)/2);
        margin: 0.7em 0.8em;
    }

    .filter-options .form-element:first-of-type{
      margin-left: 1.5em;
    }

    /* =============================== Restaurant Listing =============================== */
    .toggle-map { 
        margin-left: 1.2em;
    }
    .restaurants-list {
        padding-left: 1.2em;
    }
    .restaurants-list li {
        width: calc((100% - 100px)/3);
        margin-right: 30px;
        margin-bottom: 2em;
    }

    /* ================================ Restaurant Details ================================== */
    .restaurant-container, 
    .reviews-container {
        width: 75%;
    }

    .reviews-container {
        border-bottom: none;
    }

}