@charset "utf-8";

@media screen and (max-width: 599px) {

    /* ================================= Navigation Elements ================================ */
    nav h1 a {
        font-size: 1em;
    }

    /* ================================ Restaurant Listing ================================== */
    .restaurants-list {
        justify-content: center;
    }

    .restaurants-list li {
        width: 75%;
    }
    
    /* ================================ Restaurant Details ================================== */
    .restaurant-container, 
    .reviews-container {
        width: 90%;
    }

    .reviews-container {
        border-bottom: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    
    .restaurants-list {
        justify-content: center;
    }

    .restaurants-list li {
        max-width: calc(100% - 120px);
    }

    /* ================================ Restaurant Details ================================== */
    .restaurant-container, 
    .reviews-container {
        width: 85%;
    }

    .reviews-container {
        border-bottom: none;
    }
}
 
@media screen and (min-width: 1000px) and (max-width: 1140px) {
    .restaurants-list {
        justify-content: center;
    }

    /* ================================ Restaurant Details ================================== */
    .restaurant-container, 
    .reviews-container {
        width: 75%;
    }

    .reviews-container {
        border-bottom: none;
    }
}

@media screen and (min-width: 1141px) {
    .restaurants-list {
      justify-content: space-evenly;
    }

    .restaurant-container, 
    .reviews-container {
        width: 65%;
    }

    .reviews-container {
        border-bottom: none;
    }

    .footer {
        font-size: 0.8em;
    }
}