@charset "utf-8";

@media screen and (max-width: 599px) {

    /* ================================= Navigation Elements ================================ */
    nav h1 a {
        font-size: 1em;
    }

    .restaurants-list {
        justify-content: center;
    }

    .restaurants-list li {
        width: 75%;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    
    .restaurants-list {
        justify-content: center;
    }

    .restaurants-list li {
        max-width: calc(100% - 120px);
    }

}
 
@media screen and (min-width: 1000px) and (max-width: 1140px) {
    .restaurants-list {
        justify-content: center;
    }
}

@media screen and (min-width: 1141px) {
    .restaurants-list {
      justify-content: space-evenly;
    }
}